<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @personnel.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @personnel.last_name %>
</p>

<%= link_to 'Edit', edit_personnel_path(@personnel) %> |
<%= link_to 'Back', personnels_path %>
